# helm/chart-testing config
#
# See https://github.com/helm/chart-testing/tree/main/doc for documentation

target-branch: main
chart-dirs:
  - charts
debug: true
skip-clean-up: false
remote: origin
validate-maintainers: false
validate-yaml: true
# Hardcoded timeout when attempting to install a chart in kind
helm-extra-args: "--timeout 600s"
# We need to explicitly login to external repos for external dependencies
chart-repos:
  - bitnami=https://charts.bitnami.com/bitnami
namespace: ct
release-label: test
upgrade: true
