# Test is checking:
# - use existing secret for platform configuration
nameOverride: cdkt-test-04
config:
  existingSecret: cdkt-test-04
  organization:
    name: conduktor

  database:
    name: platform
    hosts:
      - host: postgresql-hl
        port: 5432

platform:
  startupProbe:
    initialDelaySeconds: 60  # extra delay because of limited cpu resources
  terminationGracePeriodSeconds: 0  # quick kill between tests
  resources:
    limits:
      cpu: 1500m
      memory: 3Gi
    requests:
      cpu: 500m
      memory: 2Gi
  extraEnvVarsSecret: cdkt-test-04-extra

platformCortex:
  resources:
    limits:
      cpu: 500m
      memory: 400Mi
    requests:
      cpu: 200m
      memory: 200Mi

extraDeploy:
  - apiVersion: v1
    kind: Secret
    metadata:
      name: cdkt-test-04
      annotations:
        "helm.sh/hook": pre-install
        "helm.sh/hook-weight": "-99"
        "helm.sh/hook-delete-policy": before-hook-creation
    type: Opaque
    stringData:
      CDK_ORGANIZATION_NAME: conduktor
      CDK_ADMIN_EMAIL: admin@conduktor.io
      CDK_ADMIN_PASSWORD: testP4ss!
      CDK_DATABASE_USERNAME: postgres
  - apiVersion: v1
    kind: Secret
    metadata:
      name: cdkt-test-04-extra
      annotations:
        "helm.sh/hook": pre-install
        "helm.sh/hook-weight": "-99"
        "helm.sh/hook-delete-policy": before-hook-creation
    type: Opaque
    stringData:
      CDK_DATABASE_PASSWORD: conduktor123
