# Test is checking:
# - generate a self-signed certificate for the platform
# - connectivity between the platform and the monitoring pod using self-signed certificate
# - Set use secret for database url only configuration
nameOverride: cdkt-test-06
config:
  existingSecret: cdkt-test-06-console-config
  admin:
    email: admin@conduktor.io
    password: testP4ss!

platform:
  startupProbe:
    initialDelaySeconds: 60  # extra delay because of limited cpu resources
  terminationGracePeriodSeconds: 0  # quick kill between tests
  resources:
    limits:
      cpu: 1000m
      memory: 2Gi
    requests:
      cpu: 500m
      memory: 1Gi

platformCortex:
  resources:
    limits:
      cpu: 500m
      memory: 400Mi
    requests:
      cpu: 200m
      memory: 200Mi

ingress:
  enabled: true
  hostname: platform.cluster.local
  tls: true
  selfSigned: true

extraDeploy:
  - apiVersion: v1
    kind: Secret
    metadata:
      name: cdkt-test-06-console-config
      annotations:
        "helm.sh/hook": pre-install
        "helm.sh/hook-weight": "-99"
        "helm.sh/hook-delete-policy": before-hook-creation
    type: Opaque
    stringData:
      CDK_DATABASE_URL: "postgresql://postgres:conduktor123@postgresql-hl:5432/platform"
