apiVersion: v2
appVersion: "3.14.0"
description: Conduktor Gateway chart
name: conduktor-gateway
version: 3.14.0
dependencies:
  - name: common
    version: 2.x.x
    repository: https://charts.bitnami.com/bitnami
    tags:
      - bitnami-common
