nameOverride: gateway-test-01

gateway:
  replicas: 1
  env:
    KAFKA_BOOTSTRAP_SERVERS: kafka:9092

  securityContext:
    capabilities:
      drop:
        - ALL
    readOnlyRootFilesystem: true
    runAsNonRoot: true
    runAsUser: 1000

  # Add volume on /tmp because of readOnlyRootFilesystem=true security constraint
  volumes:
    - name: tmp
      emptyDir: {}
  volumeMounts:
    - name: tmp
      mountPath: /tmp

podSecurityContext:
  runAsNonRoot: true
